<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, 
             EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="EFDbContext"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GameStore;Integrated Security=True;Pooling=False"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    
    <globalization fileEncoding="utf-8"  requestEncoding="utf-8" responseEncoding="utf-8" culture="ua-UA" uiCulture="ua-UA" />
    <!--
    globalization
    представляет числовые значения в денежной форме согласно параметрам культуры,
    действующим на сервере IIS и обычно получаемым из конфигурации серверной 
    операционной системы. Например, если сервер настроен на культуру en-US, то (1952.3)
    ToString("c") возвратит $1,952.30, а если на культуру ru-RU, тот же самый вызов даст в результате 1952.30 р.-->
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="GS" tagName="CategoryLinks" src="~/Controls/CategoryList.ascx"/>
        <add tagPrefix="GS" tagName="CartSummary" src="~/Controls/CartSummary.ascx"/>
      </controls>
    </pages>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>